body {
    padding: 10px;
}

.image{
    width:450px;
    height: 400px;
    margin-right:40px;
}

.listing{
    display:flex;
    font-size: 38px;
}

.info{
    display:flex;
    flex-flow:column;
    width:450px;
    height:450px;
}

#accept_bid{
    margin-top:20px;
}

.img{
    height: 250px;
    width:250px;
}

.button_cat{
    width: 100px;
    height: 60px;
    background-color: burlywood;
    display:flexbox;
    flex-direction: row;
    font-size:30px;
    margin: 50px;
}

.comment{
    border-bottom: blue 2px;
    border-top:red 3px;
}

.btn{
    margin-bottom:5px;
}