{% extends 'auctions/layout.html' %}

{% block body %}
<div class = "listing">
<img src = "/{{image}}" class = "image" alt = "Check your internet connection!">
<div class = "info">
    <h1>Title: {{title}}</h1>
    <h1>Description: {{description}}</h1>
    <h1>Category: {{category}}</h1><br>
    <h2>Offered by: {{owner}}</h2>
</div>
<div class = "bid">
    <h2>Last Bid: {{bid}}</h2>
    <form action = "{% url 'auctions:listing' itemID %}" method = "post" name = "form">
        {% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value = "Submit">
    </form>
    <form action = "{% url 'auctions:listing' itemID %}" method = "get">
    {%if user.id == owner.id%}
        <input type = "submit" value = "Accept" id = "accept_bid">
    {% endif %}
</div>
</div>
{% if user.id == owner.id %}
<div class = "edit_panel"><a href = "">Edit</a> <a href = "">Deactivate</a></div>
{% endif %}
{% endblock body %}